/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Kaushan Script", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1 {
  color: #3498db;
}
.btn1:hover {
  color: rgb(231, 49, 49);
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn1:hover::before {
  height: 180%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100%;
}
.header .navbar {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.header .navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}
header h1 {
    font-size: 50px;
    margin: 0 100px 0 100px;
    vertical-align: top;
  }
.logo {
  width: 20%;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
a:link {
  color: black;
}
a:visited {
  color: grey;
}
a:hover {
  border-bottom: 1px solid;
}
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background: white;
}
.hero {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}
.mid {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.middle-img {
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  align-items: center;
}
.title h1 {
  font-size: 75px;
}
.title .btn {
  margin-top: 50px;
}

.main h2 {
  font-size: 30px;
}
.code {
  display: inline-block;
  margin: 115px 0px 75px;
  width: 350px;
  height: 350px;
}

.sec2 {
  display: flex;
  justify-content: space-evenly;
}
.sec1 {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
}
.sec1 section {
  padding: 10px;
}
.sec2 section {
  padding: 10px;
}

.contact {
  margin: 20px;
  border-top: 1px solid black;
  padding-top: 25px;
}

.contact p {
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
}
footer h3 {
  font-size: 30px;
}

@media (max-width: 800px) {
  .sec1 {
    display: flex;
    justify-content: space-evenly;
  }
  .sec2 {
    display: flex;
    justify-content: space-evenly;
  }
  .title h1 {
    font-size: 75px;
  }
  .middle-img {
    width: 100%;
    height: 20vh;
    display: flex;
  }
  .header {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .navbar {
    display: flex;
    align-items: center;
    background-color: white;
  }
  .code {
    display: none;
  }
  .btn {
    margin-top: 50px;
    width: 300px;
    margin: auto;
  }
  .title {
    display: flex;
    flex-direction: column;
    margin: 55px 0 50px 0;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-bottom: 10px;
  }
  .header .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
  }
  .header .navbar a {
    width: 100%;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    text-align: center;
  }

  .btn {
    margin-top: 50px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .sec1 {
    display: flex;
    flex-direction: column;
  }
  .sec2 {
    display: flex;
    flex-direction: column;
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
